.testimonial-section {
  color: $secondary-dark-brown;
 
  .vertical-separator {
    background-color: $primary-brown;
  }

.testimonial-title {
  color: $secondary-dark-brown;
}

.text-secondary {
  color: $primary-brown;
}
}